/* ==UserStyle==
@name           text-npr
@namespace      https://github.com/peepwren/text-npr
@version        0.0.1
@description    Userstyle for text.npr.org
@author         peepwren
==/UserStyle== */
@-moz-document domain("text.npr.org") {
:root {
    --primary-bg: #fff;
    --primary-fg: #333;
    --link-color: #2C63ae;
    --link-hover: #6d8ac4;
    --footer-fg: #888;
    --font-stack: 18px/1.5 calibri, sans-serif;
    --doc-width: 700px;
    --npr-clr1: #F15C22;
    --npr-clr2: #000000;
    --npr-clr3: #4E84C4;
}
body {
    background-color: var(--primary-bg);
    min-height: 100vh;
    margin: -1px auto 0;
    padding-top: 1px;
    max-width: var(--doc-width);
    font: var(--font-stack);
}
a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    color: var(--link-hover);
}
p {
    color: var(--primary-fg);
    padding: 0 1rem;
}
body > p:first-of-type,
body > ul + p {
    display: none;
}
body > p:nth-of-type(2) {
    margin: 0.75rem auto 2.5rem;
    width: 84px;
    height: 28px;
    font-size: 0;
    background: url('https://media.npr.org/chrome_svg/npr-logo-color.svg') no-repeat 50% 50%
}
body > p:nth-of-type(2)::after {
    content: '';
    width: 100vw;
    max-width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    top: calc(1.5rem + 28px);
    background: linear-gradient(to right, var(--npr-clr1) calc(100%/3), var(--npr-clr2) calc(100%/3), var(--npr-clr2) calc(200%/3), var(--npr-clr3) calc(200%/3))
}
body > p:nth-of-type(2) > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
body > p:nth-child(4) {
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 0
}
body > p:nth-child(5) {
    font-size: 0.9em;
    margin: 0;
    color: var(--footer-fg)
}
body > ul {
    list-style-type: none;
    padding: 0 1rem;
}
body > ul > li {
    padding: 0.25em 0
}
body > ul:last-of-type,
body > ul + p + ul {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
body > ul:last-of-type a,
body > ul + p + ul a {
    color: var(--footer-fg);
    padding: 0.625rem 1.25rem;
}
}